<header>
    <nav>
        <a href="/">Link</a>
        <a href="/newPost">New</a>
        <a href="/newProfile">New Profile</a>
        <a href="/newProject">New Project</a>
        <a href="/">Test</a>
    </nav>
</header>