<header>
    <nav>
        <a href="/"><img src="/img/logo3.svg" alt=""></a>
        <ul>
            <li><a href="/newPost">FindSenergy</a></li>
            <li><a href="/profiles">Profile</a></li>
            <li><a href="/newProject">Project</a></li>
        </ul>
    </nav>
</header>