<header>
    <nav>
        <a href="/">MyLogo<img src="" alt=""></a>
        <ul>
            <li><a href="/newPost">FindSenergy</a></li>
            <li><a href="/newProfile">Profile</a></li>
            <li><a href="/newProject">Project</a></li>
        </ul>
    </nav>
</header>