<%- include('partials/head.ejs') %>

<body>
    <%- include('partials/header.ejs') %>
    <main>
        <section class="textForAdding">
            <a href="" id="toggle-btn">ADD YOUR SYNERGY!</a>
        </section>
        <hr class="line">
        <section id="showForm">
            <form action="/new" method="POST" class="forms">
                <input type="text" name="title" id="title" placeholder="title">
                <input type="text" name="author" id="author" placeholder="author">
                <input type="text" name="author_url" id="author_url" placeholder="author_url">
                <textarea name="request" id="request" cols="30" rows="10"></textarea>
                <select name="category" id="categoy">
                    <option value="design">Design</option>
                    <option value="css">CSS</option>
                    <option value="html">HTML</option>
                    <option value="javascript">JavaScript</option>
                    <option value="frontEndFrameworks">FrontEndFrameworks</option>
                    <option value="backEndFrameworks">BackEndFrameworks</option>
                    <option value="database">Database</option>
                </select>
                <input type="submit" value="submit">
            </form>
            <hr class="line">
        </section>
        <section id="synergy">
    </main>
    <script>
        const showForm = document.getElementById("showForm")
        const toggleBtn = document.getElementById("toggle-btn")
        toggleBtn.addEventListener("click", (e) => {
            e.preventDefault()
            showForm.classList.toggle('hide')
        })
    </script>

</body>

</html>