<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <form action="/addProfile" method="POST">
        <input type="text" name="name" id="name" placeholder="name">
        <input type="text" name="author_url" id="author_url" placeholder="author_url">
        <input type="text" name="strength" id="strength" placeholder="strength">
        <textarea name="request" id="request" cols="30" rows="10" placeholder="intro"></textarea>
        <input type="submit" value="submit">
    </form>
</body>

</html>