@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.hide{
      display: none;
}
main{
    margin: auto 5%;
}
.line{
    margin: 5vh 30%;
    height: 1px; 
    background-color: black;
}
p{
    white-space: pre-line
}
/* Header */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 10vh;
    background-color: rgb(61, 215, 172);
}
header nav ul{
    width: 30%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
header nav ul a{
    text-decoration: none;
    color: black;
}



/* Add new Projects */
#addProjects section:first-of-type{
    margin-top: 10vh;
    text-align: center;
}
#addProjects section:first-of-type a{
    text-decoration: none;
    color: black;
    font-size: 4em;
}
/* Forms */
.forms{
    display: flex;
    flex-direction: column;
}
input, textarea{
    border: none;
    background: #e5e5e5;
    border-radius: 5px;
    margin-bottom: 2vh;
    text-align: center;
    padding: 12px 5px;
    font-size: 1rem;
    color: #848484;
}
textarea{
    resize: none;
    height: 100px;
}
input:last-of-type{
    color: #fff;
    background: #323A45;
    border: 1px solid #323A45;
    font-size: 1.2rem;
    padding: 10px 5px;
}
input:last-of-type:hover{
    background: #fff;
    color: #323A45;
    cursor: pointer;
}
/* Projects */
#projects{
    display: grid;
    grid-template-columns: 40% 50%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    margin: 10vh auto;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
}
#projects a img{
    width: 100%;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;

}
#projects article >div:first-of-type{
    text-align: center;
}
#projects article h1{
    font-size: 2em;
}
#projects article img{
    height: 50px;
    border-radius: 50%;
}