*{
    margin: 0;
    padding: 0;
}
h1{
    color: tomato;
    display: inline;
}
img{
    width: 90px;
    border-radius: 50%;
}
.hide{
      display: none;
}
main{
    margin: auto 5%;
}
.line{
    margin: 5vh 30%;
    height: 2px; 
    background-color: black;
}

/* Header */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 10vh;
    background-color: rgb(61, 215, 172);
}
header nav ul{
    width: 30%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
header nav ul a{
    text-decoration: none;
    color: black;
}
/* Projects */
#newProjects section:first-of-type{
    margin-top: 10vh;
    text-align: center;
}
#newProjects section:first-of-type a{
    text-decoration: none;
    color: black;
    font-size: 4em;
}


.forms{
    display: flex;
    flex-direction: column;
}
input, textarea{
    border: none;
    background: #e5e5e5;
    border-radius: 5px;
    margin-bottom: 2vh;
    text-align: center;
    padding: 12px 5px;
    font-size: 1rem;
    color: #848484;
}
textarea{
    resize: none;
    height: 100px;
}
input:last-of-type{
    color: #fff;
    background: #323A45;
    border: 1px solid #323A45;
    font-size: 1.2rem;
    padding: 10px 5px;
}
input:last-of-type:hover{
    background: #fff;
    color: #323A45;
    cursor: pointer;
}